<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Cpu" value="All" />
  <add key="Memory" value="100" />
  <add key="UserData" value="echo 'Woot!' &gt; home/user-script-output.txt" />
  
   <add key="FTPServer" value="?????? />
  <add key="FtpUser" value="??????" />
  <add key="FtpPassword" value="???????" />
  

  <add key="hvmImage" value="ami-5189a661" />
  <add key="pvImage" value="ami-6989a659" />
  
  <add key="securitygroup" value="?????????" />
  <add key="keyname" value="???????????" />
  <add key="AccessKey" value="????????????????" />
  <add key="SecretKey" value="???????????????" />
</appSettings>
